*{
  margin: 0;
  padding: 0;
}

.flexcol{
  display: flex;
  flex-direction: column;
}
.flexrow{
  display: flex;
  flex-direction: row;
}
.flexrotocol{
  display: flex;
  flex-direction: row;
}
.flexrowtocol{
  display: flex;
  flex-direction: row;
}
.center{
  justify-content: center;
  align-items: center;
}
.w80{
  width: 85%;
}
.w100{
  width: 100%;
}
.between{
  justify-content: space-between;
}
.aligncenter{
  align-items: center;
}
.h50vh{
 height: 50vh; 
}
.h400px{
  height: 400px;
}
.margtop{
  margin-top: 30px;
}
.minh100{
  min-height: 100vh;
}
.w50{
  width: 50%;
}

.h100
{
  height: 100%;
}
.h100vh{
  height: 100vh;
}

.secondbc{
 
}
.cw{
  color: white;
}
.marginbottom50{
  margin-bottom: 50px;
}
.marginbottom150{
  margin-bottom: 150px;

}
.h50{
  height: 50%;
}
.img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
}

.fw700{
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(195, 83, 195);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.paddingpage{
  width: 60%;
  margin: 0 auto;
}
.paddingpagetemplate{
  width: 80%;
  margin: 0 auto;
}
.transformpage{
  transform: translateY(-5px);
}