.primerybc{
    background-image: linear-gradient( rgb(195, 83, 195) , purple );
}
.bcCool{
  background-image: radial-gradient(circle at 80% 80%, rgb(242, 188, 242) 0% 20%, rgb(249, 242, 249) 10% 100%);

}
.opendiv{
  justify-content: center;
}
.words{
  align-items: flex-end;
  margin-left: 150px;

}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr ;
    gap: 120px;
}
.header{
  /* font-size: 5rem; */
  font-weight: 900;
  color: antiquewhite;
}
.h3{
  color: antiquewhite;
  margin-bottom: 50px;
  font-weight: 100;
}
.primeryButton{
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  border: none;
  font-weight: 900;
  font-size: 1.3rem;
  box-shadow: 3px 10px 30px black;
  background-color: rgb(255, 239, 255);
  color: rgb(16, 16, 16);
  font-weight: 100;
}
.cbc{
  background-color: rgb(254, 254, 254);
  
}
.cardd{
    height: 100%;
    max-height: 500px;
   position: relative;

  }

  .image{
    height: 100%;
    width: 100%;

  }
  .templatelist{
    padding: 35px;
  }

  .templateScreen{

    padding-top: 50px;
    padding-bottom: 50px;
  }
.bgclss{
  background-size: cover;
  object-fit: cover;
  
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.88),rgba(255,255,255.8)),url('../image/mg5.jpg'); */
}
.bgcolortemp{
  background-color: purple;
}
  .tamplateInfo{
  
  }

  .pagelink{
    padding: 10px;
   color: purple;
   text-decoration: none;
    margin-left: 10px;
  }



  input{
   
    border-radius: 20px;

  }



.tempcontainer{
  height: 100%;
  width: 100%;


}
.tempcontainer{

}
  .templatesCar{
    height: 50%;
    width: 400px;
 



  
  }

  .cardd2{
    height: 100%;
   margin-left: 10px;

  


  }

  .image2{
    height: 100%;
  }


  .transs{
    transform: translateY(10px);
  }
  .transsup{
    transform: translateY(-10px);

  }
  .buttonsend{
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    background-color: purple;
    color: white;
    border: none;
  }
  .hamburger{
    font-size: 2rem;
    color: white;
  }
 
  .backbtn{
    margin-top: 50px;
  }
  .imagehw{
   height: 500px;
   width: 300px;
  }
  .marginwidth{
    width: 40%;
    margin: 0 auto;
  }
  .marginleft{
    margin-left: 20px;
  }


  .formtemp{
    padding: 10px;
  
  }