.position{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
}
.nav{
    height: 8vh;
    width: 100%;
    background-color: rgb(223, 141, 223);
}
.link{
    margin-left: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: antiquewhite;
    font-weight: 700;
}